.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #181818;
  color: #fff;
  position: fixed;
  top: 0; left: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
}

.navbar > nav {
  display: flex;
  gap: 40px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:link, a:visited {
  color: #fff;
}