.container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  justify-content: space-between;
}

.container .productImage img {
  max-width: 60%;
}

.container .productImage {
  align-self: center;
  text-align: center;
}

.cartButton {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0.75em 1.5em;
  font-size: 14px;
  cursor: pointer;
}

.cartButton:hover {
  background-color: #eee;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.price div:last-child {
  font-size: 24px;
}

.advancedButton {
  display: flex;
  height: 30px;
  border-radius: 4px;
  overflow: hidden;
  border: 2px solid #d9d9d9;
}

.advancedButton > * {
  border: none;
}

.advancedButton > input {
  max-width: 40px;
  text-align: center;
}

.advancedButton > button {
  width: 30px;
  cursor: pointer;
}